// Start of Header Style
@import "reset";
@import "variables";
@import "mixins";


.main-nav{
    background-color: $black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6.4375rem;
    &__ctn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 1rem;
        width: 100%;
    }
    .main-nav{
        &__logo {
            width: 9rem;
            padding-bottom: 1rem;
        }
    }
    &__navbar {
        width: 100%;
    }
        &__list {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
        &__link {
            @include navLink;
        }
        @include tablet {
            .main-nav{
                &__ctn{
                    height: 100%;
                    align-items: center;
                    flex-wrap: nowrap;
                    padding: 1rem 1.5rem;
                    }
                    &__logo {
                        padding-bottom: 0;
                        margin-right: $mspaceSmall;
                    }
                    &__list {
                        width: 40%;
                    } 
                    &__link{
                        font-size: 1.1rem;
                    }   
                }
            }
}


