@import "partials/reset";
@import "partials/variables";
@import "partials/global-styles";
@import "partials/mixins";
@import "partials/header";

// Hero Styles

.hero{
    // padding: 0 16px;
    height: 58vw;
    width: 100vw;
    background-image: url('../assets/Images/Gaspard_Augé_and_Xavier_de_Rosnay_\(Justice\).jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    &__ctn{
        height: inherit;
        width: 100vw;
        background-color: $black;
        opacity: 50%;
        position: absolute;
        top: 6.4rem;
        z-index: 1;
    }
    &__head {
        @include header-2;
        font-size: 1.5rem;
        line-height: 2.1rem;
        width: 69%;
        color: $white;
        opacity: 1;
        z-index: 2;
        position: relative;
        padding: 0 $mspaceXSmall;
    }
    @include mobile-lg {
        .hero{
            &__head{
                font-size: 2rem;
                line-height: 2.7rem;
            }
        }
    }   
}
@include tablet {
    .hero {
        height: 53vw;
            &__head{
                font-size: 4.5rem;
                line-height: 5.5rem;
                padding: 0 1.5rem;
                width: 81%;
            }
        }
    } 


// Musician Styles
.musicians{
    &__wrap{
        padding: 0 $mspaceXSmall;
        display: flex;
        flex-direction: column;
    }
    &__head{
        @include header-2;
        padding-left: $mspaceXSmall;
        margin-top: $mspaceMedium; 
    }
    &__img {
        padding-top: $mspaceMedium;
        width: 100%;
        height:69vw;
        padding-bottom: $mspaceSmall;
    }
    &__quote {
        // @include subHead-2; 
        font-size: 1.15rem;
        line-height: 1.9rem;
        font-family: "Roboto";
        font-weight: 500;
        text-align: left;
        padding-bottom: $mspaceSmall;
        width: 93%;
    }
    &__head-2{
        @include subHead-2;
        font-weight: 500;
        font-size: 1.1rem;
        padding-bottom: $mspaceSmall;
    }
    .author{
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
        margin-bottom: $mspaceLarge;
        display: inline-block;
    }
    .article {
        @include textContent-2;
        line-height: 1.525rem;
        font-size: $mParagraphSize + .13rem;
        width: 96%;
    }
    .top {
        margin-bottom: $mspaceSmall;
    }
    .bottom {
        margin-bottom: $mspaceLarge;
    }
    @include mobile-lg {
        .musicians{
            &__head{
                font-size: 2rem;
            }
        }
    }
    @include tablet {
        .musicians{
            &__head{
                font-size: 3rem;
                margin-top: 4rem;
            }
        }
    }
}

// Gallery Styles

.gallery {
    background-color: $alabaster;
    margin-bottom: $mspaceLarge;
    &__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $mspaceXSmall;
    }
    &__head{
        @include header-2;
        padding: $mspaceMedium 0 $mspaceSmall $mspaceXSmall;
        // padding-left: $mspaceXSmall;
        // padding-bottom: $mspaceSmall;
    }
    &__img{
        width: 100%;
        min-width: 288px;
        height: 50vw;
        background-color: blue;
        margin-bottom: $mspaceXSmall;
    }
    .img-1{
        background-image: url('../assets/Images/Photo-gallery-1.jpg');
        @include imgGallery;
    }
    .img-2{
        background-image: url('../assets/Images/Photo-gallery-2.jpg');
        @include imgGallery;
    }
    .img-3{
        background-image: url('../assets/Images/Photo-gallery-3.jpg');
        @include imgGallery;
    }
    .img-4{
        background-image: url('../assets/Images/Photo-gallery-4.jpg');
        @include imgGallery;
    }
    .img-5{
        background-image: url('../assets/Images/Photo-gallery-5.jpg');
        @include imgGallery;
    }
    .img-6{
        background-image: url('../assets/Images/Photo-gallery-6.jpg');
        @include imgGallery;
    }
    .img-7{
        background-image: url('../assets/Images/Photo-gallery-7.jpg');
        @include imgGallery;
    }
    .img-8{
        background-image: url('../assets/Images/Photo-gallery-8.jpg');
        @include imgGallery;
    }
    .img-9{
        background-image: url('../assets/Images/Photo-gallery-9.jpg');
        @include imgGallery;
    }
    @include mobile-lg {
        .gallery{
            &__head{
                font-size: 2rem;
            }
        }
    }
}

    // Footer   
.intouch {
    width: 100vw;
    background-color: $black;
    color: $white;
    padding-top: $mspaceLarge;
    height: 54rem;   
}
.footer-head {
    @include header-2;
    color:$white;
    font-size: 2rem;
    padding: 0 0 $mspaceMedium $mspaceXSmall;
}
.footer-wrap{
    padding: 0 $mspaceXSmall;
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
}
.icon {
    color: $white;
    height: $mHeaderSize;
    margin-right: $mspaceMedium;
    margin-bottom: $mspaceLarge;
}
.footer-logo {
    display: none;
}
.contact-head{
    color: $white;
    font-size: 1rem;
    font-weight: 400;
    line-height: $subHeaderHeight;
}
.contact-item{
    color: $silver;
    width: 65%;
    line-height: $subHeaderHeight;
    padding: $mspaceSmall 0 $mspaceSmall 0;
}
.contact-link{
    padding-bottom: $mspaceLarge;
}
.contact-email{
    color: $silver;
    font-size: $mContactSize + .07rem;
}
.copyright {
    color: $silver;
    width: 86%;
    line-height: $subHeaderHeight;
}
@include mobile-lg {
    .intouch {
        height: 50rem;
    }
    .footer-head{
        font-size: 3rem;
    }
    .contact-head {
        font-size: 1.15rem;
    }
}




