@charset "UTF-8";
/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Roboto";
}

ol, ul, li {
  list-style: none;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  font-family: "Roboto";
}

/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Roboto";
}

ol, ul, li {
  list-style: none;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  font-family: "Roboto";
}

/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
.main-nav {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 6.4375rem;
}

.main-nav__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem;
  width: 100%;
}

.main-nav .main-nav__logo {
  width: 9rem;
  padding-bottom: 1rem;
}

.main-nav__navbar {
  width: 100%;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-nav__link {
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #AFAFAF;
}

@media (min-width: 768px) {
  .main-nav .main-nav__ctn {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-nav .main-nav__logo {
    padding-bottom: 0;
  }
}

.hero {
  height: 58vw;
  width: 100vw;
  background-image: url("../assets/Images/Gaspard_Augé_and_Xavier_de_Rosnay_(Justice).jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__ctn {
  height: inherit;
  width: 100vw;
  background-color: #323232;
  opacity: 50%;
  position: absolute;
  top: 6.4rem;
  z-index: 1;
}

.hero__head {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2.1rem;
  width: 69%;
  color: #ffffff;
  opacity: 1;
  z-index: 2;
  position: relative;
  padding: 0 1rem;
}

@media (min-width: 425px) {
  .hero .hero__head {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

.musicians__wrap {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.musicians__head {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
  padding-left: 1rem;
  margin-top: 2rem;
}

.musicians__img {
  padding-top: 2rem;
  width: 100%;
  height: 69vw;
  padding-bottom: 1.5rem;
}

.musicians__quote {
  font-size: 1.15rem;
  line-height: 1.9rem;
  font-family: "Roboto";
  font-weight: 500;
  text-align: left;
  padding-bottom: 1.5rem;
  width: 93%;
}

.musicians__head-2 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  font-weight: 500;
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
}

.musicians .author {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.musicians .article {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  line-height: 1.525rem;
  font-size: 0.9425rem;
  width: 96%;
}

.musicians .top {
  margin-bottom: 1.5rem;
}

.musicians .bottom {
  margin-bottom: 2.5rem;
}

@media (min-width: 425px) {
  .musicians .musicians__head {
    font-size: 2rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  margin-bottom: 2.5rem;
}

.gallery__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.gallery__head {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
  padding: 2rem 0 1.5rem 1rem;
}

.gallery__img {
  width: 100%;
  min-width: 288px;
  height: 50vw;
  background-color: blue;
  margin-bottom: 1rem;
}

.gallery .img-1 {
  background-image: url("../assets/Images/Photo-gallery-1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-2 {
  background-image: url("../assets/Images/Photo-gallery-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-3 {
  background-image: url("../assets/Images/Photo-gallery-3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-4 {
  background-image: url("../assets/Images/Photo-gallery-4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-5 {
  background-image: url("../assets/Images/Photo-gallery-5.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-6 {
  background-image: url("../assets/Images/Photo-gallery-6.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-7 {
  background-image: url("../assets/Images/Photo-gallery-7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-8 {
  background-image: url("../assets/Images/Photo-gallery-8.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery .img-9 {
  background-image: url("../assets/Images/Photo-gallery-9.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 425px) {
  .gallery .gallery__head {
    font-size: 2rem;
  }
}

.intouch {
  width: 100vw;
  background-color: #323232;
  color: #ffffff;
  padding-top: 2.5rem;
  height: 54rem;
}

.footer-head {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
  color: #ffffff;
  font-size: 2rem;
  padding: 0 0 2rem 1rem;
}

.footer-wrap {
  padding: 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon {
  color: #ffffff;
  height: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
}

.footer-logo {
  display: none;
}

.contact-head {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.contact-item {
  color: #AFAFAF;
  width: 65%;
  line-height: 1.5rem;
  padding: 1.5rem 0 1.5rem 0;
}

.contact-link {
  padding-bottom: 2.5rem;
}

.contact-email {
  color: #AFAFAF;
  font-size: 0.8825rem;
}

.copyright {
  color: #AFAFAF;
  width: 86%;
  line-height: 1.5rem;
}

@media (min-width: 425px) {
  .intouch {
    height: 50rem;
  }
  .footer-head {
    font-size: 3rem;
  }
  .contact-head {
    font-size: 1.15rem;
  }
}
/*# sourceMappingURL=main.css.map */