@import "partials/reset";
@import "partials/variables";
@import "partials/global-styles";
@import "partials/mixins";
@import "partials/header";

// Hero Styles

.hero{
    // padding: 0 16px;
    height: 58vw;
    width: 100vw;
    background-image: url('../assets/Images/Gaspard_Augé_and_Xavier_de_Rosnay_\(Justice\).jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    &__ctn{
        height: inherit;
        width: 100vw;
        background-color: $black;
        opacity: 50%;
        position: absolute;
        top: 6.4rem;
        z-index: 1;
        transition: opacity .4s ease-in-out;
        &:hover{
            opacity: 30%;
        }
    }
    &__head {
        @include header-2;
        font-size: 1.5rem;
        line-height: 2.1rem;
        width: 69%;
        color: $white;
        opacity: 1;
        z-index: 2;
        position: relative;
        padding: 0 $mspaceXSmall;
    }
    @include mobile-lg {
        .hero{
            &__head{
                font-size: 2rem;
                line-height: 2.7rem;
            }
        }
    }
    @include tablet {
        .hero {
            height: 53vw;
                &__head{
                    font-size: 4.5rem;
                    line-height: 5.5rem;
                    padding: 0 1.5rem;
                    width: 81%;
                }
            }
        }
    @include desktop-small{
        .hero{
            &__head{
                font-size: 5rem;
                line-height: 6.5rem;
                padding: 0 3rem;
            }
        }
    } 
    @include desktop-lg{
        .hero{
            &__head {
                padding: 0 4.5rem;
                width: 59%;            
            }
        }
    }       
}


// Musician Styles
.musicians{
    &__wrap{
        padding: 0 $mspaceXSmall;
        display: flex;
        flex-direction: column;
    }
    &__head{
        @include header-2;
        padding-left: $mspaceXSmall;
        margin-top: $mspaceMedium; 
    }
    &__img {
        padding-top: $mspaceMedium;
        width: 100%;
        height:69vw;
        padding-bottom: $mspaceSmall;
    }
    &__quote {
        // @include subHead-2; 
        font-size: 1.15rem;
        line-height: 1.9rem;
        font-family: "Roboto";
        font-weight: 500;
        text-align: left;
        padding-bottom: $mspaceSmall;
        width: 93%;
    }
    &__head-2{
        @include subHead-2;
        font-weight: 500;
        font-size: 1.1rem;
        padding-bottom: $mspaceSmall;
    }
    .author{
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
        margin-bottom: $mspaceLarge;
        display: inline-block;
    }
    .article {
        @include textContent-2;
        line-height: 1.525rem;
        font-size: $mParagraphSize + .13rem;
        width: 96%;
    }
    .top {
        margin-bottom: $mspaceSmall;
    }
    .bottom {
        margin-bottom: $mspaceLarge;
    }
    @include mobile-lg {
        .musicians{
            &__head{
                font-size: 2rem;
            }
        }
    }
    @include tablet {
        .musicians{
            &__head{
                font-size: 3rem;
                margin-top: 4rem;
                padding-left: 1.5rem;
            }
            &__img{
                height: 58vw;
                padding-top: 3rem;
                padding-bottom: 2.5rem;
            }
            &__wrap{
                padding: 0 1.5rem;
            }
            &__quote{
                font-size: 1.7rem;
                line-height: 2.7rem;
                font-weight: 900;
                padding-bottom: 1.5rem;
                width: 98%;
            }
            &__head-2{
                font-size:2rem;
                font-weight: 800;
            }
        }
        .author{
            margin-bottom: 3.5rem;
        }
        .article-ctn {
            display: flex;
            flex-direction: row;
            margin-bottom: 2.5rem;
        }
        .bottom{
            margin: 0 1.5rem;
        }
    }
    @include desktop-small{
        .musicians{
            &__head{
                padding: 0 3rem;
            }
            &__img-ctn{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            &__img{
                width: 80%;
                height: 49vw;
            }
            &__quote {
                width: 90%;
                padding-left: 6rem;
            }
            &__head-2{
                padding: 0 0 3rem 6rem;
            }
        }
        .author {
            padding-left: 6rem;
            margin-bottom: 3rem;
        }
        .article-ctn {
            width: 85%;
            padding: 0 0 0 6rem;
            .top {
                margin-right: 2.5rem;
            }
            .bottom {
                margin: 0;
            }
        }
    }
    @include desktop-lg {
        .musicians{
            &__head {
                padding-left: 4.5rem;
            }
            &__img-ctn{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            &__img{
                width: 75%;
                height: 45vw;
            }
            &__quote {
                width: 90%;
                padding-left: 9.5rem;
            }
            &__head-2{
                padding: 0 0 3rem 9.5rem;
            }
        }
        .author {
            padding-left: 9.5rem;
            margin-bottom: 3rem;
        }
        .article-ctn {
            width: 85%;
            padding: 0 0 0 9.5rem;
        }
        .bottom {
            margin: 0 0 0 2.5rem;
        }
    }        
}

// Gallery Styles

.gallery {
    background-color: $alabaster;
    margin-bottom: $mspaceLarge;
    &__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $mspaceXSmall;
    }
    &__head{
        @include header-2;
        padding: $mspaceMedium 0 $mspaceSmall $mspaceXSmall;
        // padding-left: $mspaceXSmall;
        // padding-bottom: $mspaceSmall;
    }
    &__img{
        width: 100%;
        min-width: 288px;
        height: 50vw;
        background-color: blue;
        margin-bottom: $mspaceXSmall;
    }
    .img-1{
        background-image: url('../assets/Images/Photo-gallery-1.jpg');
        @include imgGallery;
    }
    .img-2{
        background-image: url('../assets/Images/Photo-gallery-2.jpg');
        @include imgGallery;
    }
    .img-3{
        background-image: url('../assets/Images/Photo-gallery-3.jpg');
        @include imgGallery;
    }
    .img-4{
        background-image: url('../assets/Images/Photo-gallery-4.jpg');
        @include imgGallery;
    }
    .img-5{
        background-image: url('../assets/Images/Photo-gallery-5.jpg');
        @include imgGallery;
    }
    .img-6{
        background-image: url('../assets/Images/Photo-gallery-6.jpg');
        @include imgGallery;
    }
    .img-7{
        background-image: url('../assets/Images/Photo-gallery-7.jpg');
        @include imgGallery;
    }
    .img-8{
        background-image: url('../assets/Images/Photo-gallery-8.jpg');
        @include imgGallery;
    }
    .img-9{
        background-image: url('../assets/Images/Photo-gallery-9.jpg');
        @include imgGallery;
    }
    @include mobile-lg {
        .gallery{
            &__head{
                font-size: 2rem;
            }
        }
    }
    @include tablet {
        .gallery{
            &__head{
                font-size: 3rem;
                padding: 4rem 0 4rem 1.5rem;
            }
            &__wrap{
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 1.5rem;
                justify-content: space-between;
            }
            &__img{
                min-width: 224px;
                width: 31%;
                height: 16.5vw;
                margin-bottom:1.5rem;
            }
        }
    }
    @include desktop-small{
        .gallery{
            &__head {
                padding: 4rem 0 4rem 3rem;
            }
            &__wrap {
                padding: 0 2.5rem;
            }
            &__img {
                width: 32%;
                height: 17.5vw;
                margin-bottom: 1rem;
                opacity: .5;
                transition: all .3s ease-in-out;
                &__hover{
                    opacity: 1;
                }
            }
        }
    }
    @include desktop-lg{
        .gallery{
            &__head{
                padding: 4rem 0 4rem 4.5rem; 
            }
            &__wrap {
                padding: 0 4.5rem;
            }
            &__img {
                width: 32%;
                opacity: .5;
                transition: all .4s ease-in-out;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}





    // Footer   
.intouch {
    width: 100vw;
    background-color: $black;
    color: $white;
    padding-top: 3.5rem;
    padding-bottom: 3rem; 
    .footer-head {
        @include header-2;
        color:$white;
        font-size: 2rem;
        padding: 0 0 $mspaceMedium $mspaceXSmall;
    }
    .footer-wrap{
        padding: 0 $mspaceXSmall;
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
    }
    .icon {
        color: $white;
        height: $mHeaderSize;
        margin-right: $mspaceMedium;
        margin-bottom: $mspaceLarge;
        padding: 0 1rem;
    }
    .footer-logo {
        display: none;
    }
    .contact-head{
        color: $white;
        font-size: 1rem;
        font-weight: 400;
        line-height: $subHeaderHeight;
    }
    .contact-item{
        color: $silver;
        width: 65%;
        line-height: $subHeaderHeight;
        padding: $mspaceSmall 0 $mspaceSmall 0;
    }
    .contact-link{
        padding-bottom: $mspaceLarge;
    }
    .contact-email{
        color: $silver;
        font-size: $mContactSize + .07rem;
    }
    .copyright {
        color: $silver;
        width: 86%;
        line-height: $subHeaderHeight;
        padding: 0 1rem;
    }
    @include mobile-lg {
        // .intouch {
        //     height: 55rem;
        // }
        .footer-head{
            font-size: 3rem;
        }
        .contact-head {
            font-size: 1.15rem;
        }
    }
    @include tablet {
        .footer-head{
            display: inline-block;
            font-size: 2.5rem;
            padding: 0 0.5rem 2rem 1.5rem;
        }
        .social-icons{
            display: inline-flex;
            flex-direction: row;
            align-items: baseline;
            width: 62%;
            justify-content: space-between;
            .social-ctn {
                display: flex;
                margin-left: 1rem; 
                .icon{
                    margin-right: 0;
                }
            }
        }
        .footer-logo {
            display: flex;
        }
        .footer-wrap{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 1rem 0 1.5rem;
            .contact-head {
                font-size:1rem;
            }
            .contact-item {
                width: 200px;
            }
            .contact-list {
                width: 32%;
                margin-right: -15px;
            }
        }
        .copyright {
            padding: 0 1.5rem;
        }  
    }
    @include desktop-small {
        .footer-head {
            padding: 0 1rem 2rem 2.5rem;
        }
        .contact-head {
            font-size: 1.2rem !important;
        }
        .social-icons{
            justify-content: space-between;
            width: 68%;
            .social-ctn {
                display: flex;
                margin-left: 1rem;
                .icon {
                    margin-right: 0;
                }
            }
        }
        // .footer-logo {
        //     left: 21rem;
        // }
        .footer-wrap {
            padding: 1.5rem 1rem 0 2.5rem;
            width: 90%;
            .contact-list {
                width: 31%;
            }
            .contact-item {
                width: 200px !important;
            }
        }
       .copyright{
           padding: 0 2.5rem;
       } 
    }
    @include desktop-lg {
        .footer-head {
            padding: 0 0 2rem 4.5rem;
        }
        .footer-wrap{
            padding: 1.5rem 1rem 0 4.5rem;
            width: 90%;
            .contact-head {
                font-size: 1.2rem;
            }
            .contact-list {
                width: 31%;
            }
            .contact-item {
                width: 200px !important;
            }
        }
        .social-icons{
            justify-content: space-between;
            width: 69%;
            .social-ctn {
                display: flex;
                margin-left: 5rem;
                .icon {
                    margin-right: 0;
                }
            }
        }
        .copyright{
            padding: 0 4.5rem;
        } 
    }
}







