@import "reset";
// Footer Section Styles   
.footer {
    width: 100vw;
    background-color: $black;
    color: $white;
    padding-top: $spaceXLarge;
    padding-bottom: $spaceLarge; 
    &__head {
        @include header-2;
        color:$white;
        font-size: $sHeader;
        padding: 0 0 $spaceMedium $spaceXSmall;
        @include mobile-lg {
            font-size: $header;
        }
    }
    &__icons {
        color: $white;
        height: $mHeaderSize;
        margin-right: $spaceXSmall;
        margin-bottom: $spaceLarge;
        padding: 0 $spaceXSmall;
    }
    &__logo {
        display: none;
    }
    &__icon {
        height: 30px;
        margin-right: 2.5rem;
    }
    &__wrap{
        padding: 0 $spaceXSmall;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__contact-head{
        color: $white;
        font-size: $subHeader;
        font-weight: 500;
        line-height: $subHeaderHeight;
        @include mobile-lg {
            font-size: 1.15rem;
            font-weight: 500;
        }
    }
    &__contact-item{
        color: $silver;
        width: 65%;
        line-height: $subHeaderHeight;
        padding: $spaceSmall 0 $spaceSmall 0;
    }
    &__contact-link{
        padding-bottom: $spaceLarge;
    }
    &__contact-email{
        color: $silver;
        font-size: $contactSize;
    }
    &__copyright {
        color: $silver;
        width: 86%;
        line-height: $subHeaderHeight;
        padding: 0 $spaceXSmall;
      }
    }
    @include tablet {
        .footer{
            &__head{
                display: inline-block;
                font-size: 2.5rem;
                padding: 0 0.5rem $spaceMedium $spaceSmall;
            }
            &__icons {
                display: inline-flex;
            flex-direction: row;
            align-items: baseline;
            width: 62%;
            justify-content: space-between;
            }
            &__icons-ctn {
                display: flex;
                margin-left: $spaceXSmall; 
              } 
            &__icon {
                height: 25px;
            }  
            &__logo {
                display: flex;
            }
            &__wrap{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: $spaceMedium $spaceXSmall 0 $spaceSmall;
            } 
            &__contact-head {
                font-size:1rem;
            }
            &__contact-item {
                width: 200px;
            }
            &__contact-list {
                width: 32%;
                margin-right: -15px;
            }
            &__copyright {
                padding: 0 $spaceSmall;
            }  
        }
    }
    @include desktop-small {
        .footer{
            &__head {
                padding: 0 $spaceXSmall $spaceMedium $spaceLarge;
            }
            &__icons-ctn {
                display: flex;
                margin-left: $spaceXSmall;
                .icon {
                    margin-right: 0;
                }
              }
            &__logo {
                height: 1.3rem;
              }  
              &__wrap {
                padding: $spaceSmall $spaceXSmall 0 $spaceLarge;
                width: 90%;
              }
              &__contact-list {
                width: 31%;
            }
            &__contact-head {
                font-size: 1.2rem !important;
                font-weight: 500;
            }
            &__contact-item {
                width: 200px !important;
            }
              &__copyright{
                padding: 0 $spaceLarge;
            } 
            }
            
        }
     
    @include desktop-lg {
        .footer{
            &__head {
                padding: 0 0 $spaceMedium 4.5rem;
            }
            &__icons {
                justify-content: space-between;
            width: 69%;
            }
            &__icons-ctn {
                display: flex;
                margin-left: 3rem;
              }
            &__logo {
                height: 1.3rem;
            }
            &__wrap {
                padding: $spaceSmall $spaceXSmall 0 4.5rem;
                width: 90%;
            }
            &__contact-head {
                font-size: 1.2rem;
            }
            &__contact-list {
                width: 31%;
            }
            &__contact-item {
                width: 200px ;
            }
            &__copyright{
                padding: 0 4.5rem;
            } 
        }
    }
