@import "reset";
// Footer Section Styles   
.intouch {
    width: 100vw;
    background-color: $black;
    color: $white;
    padding-top: $spaceXLarge;
    padding-bottom: $spaceLarge; 
    .footer-head {
        @include header-2;
        color:$white;
        font-size: $sHeader;
        padding: 0 0 $spaceMedium $spaceXSmall;
    }
    .footer-wrap{
        padding: 0 $spaceXSmall;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .icon {
        color: $white;
        height: $mHeaderSize;
        margin-right: $spaceXSmall;
        margin-bottom: $spaceLarge;
        padding: 0 $spaceXSmall;
    }
    .footer-logo {
        display: none;
    }
    .contact-head{
        color: $white;
        font-size: $subHeader;
        font-weight: 500;
        line-height: $subHeaderHeight;
    }
    .contact-item{
        color: $silver;
        width: 65%;
        line-height: $subHeaderHeight;
        padding: $spaceSmall 0 $spaceSmall 0;
    }
    .contact-link{
        padding-bottom: $spaceLarge;
    }
    .contact-email{
        color: $silver;
        font-size: $contactSize;
    }
    .copyright {
        color: $silver;
        width: 86%;
        line-height: $subHeaderHeight;
        padding: 0 $spaceXSmall;
    }
    @include mobile-lg {
        .footer-head{
            font-size: $header;
        }
        .contact-head {
            font-size: 1.15rem;
            font-weight: 500;
        }
    }
    @include tablet {
        .footer-head{
            display: inline-block;
            font-size: 2.5rem;
            padding: 0 0.5rem $spaceMedium $spaceSmall;
        }
        .social-icons{
            display: inline-flex;
            flex-direction: row;
            align-items: baseline;
            width: 62%;
            justify-content: space-between;
            .social-ctn {
                display: flex;
                margin-left: $spaceXSmall; 
                .icon{
                    margin-right: 0;
                }
            }
        }
        .footer-logo {
            display: flex;
        }
        .footer-wrap{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: $spaceMedium $spaceXSmall 0 $spaceSmall;
            .contact-head {
                font-size:1rem;
            }
            .contact-item {
                width: 200px;
            }
            .contact-list {
                width: 32%;
                margin-right: -15px;
            }
        }
        .copyright {
            padding: 0 $spaceSmall;
        }  
    }
    @include desktop-small {
        .footer-head {
            padding: 0 $spaceXSmall $spaceMedium $spaceLarge;
        }
        .contact-head {
            font-size: 1.2rem !important;
            font-weight: 500;
        }
        .social-icons{
            justify-content: space-between;
            width: 68%;
            .social-ctn {
                display: flex;
                margin-left: $spaceXSmall;
                .icon {
                    margin-right: 0;
                }
            }
        }
        .footer-logo {
            height: 1.3rem;
        }
        .footer-wrap {
            padding: $spaceSmall $spaceXSmall 0 $spaceLarge;
            width: 90%;
            .contact-list {
                width: 31%;
            }
            .contact-item {
                width: 200px !important;
            }
        }
       .copyright{
           padding: 0 $spaceLarge;
       } 
    }
    @include desktop-lg {
        .footer-head {
            padding: 0 0 $spaceMedium 4.5rem;
        }
        .footer-logo {
            height: 1.3rem;
        }
        .footer-wrap{
            padding: $spaceSmall $spaceXSmall 0 4.5rem;
            width: 90%;
            .contact-head {
                font-size: 1.2rem;
            }
            .contact-list {
                width: 31%;
            }
            .contact-item {
                width: 200px !important;
            }
        }
        .social-icons{
            justify-content: space-between;
            width: 69%;
            .social-ctn {
                display: flex;
                margin-left: 5rem;
                .icon {
                    margin-right: 0;
                }
            }
        }
        .copyright{
            padding: 0 4.5rem;
        } 
    }
}