@import "partials/reset";
@import "partials/variables";
@import "partials/global-styles";
@import "partials/mixins";
@import "partials/header";
@import "partials/footer";

// Hero Section Styles

.hero{
    height: 58vw;
    width: 100vw;
    background-image: url('../assets/images/Gaspard_Augé_and_Xavier_de_Rosnay_\(Justice\).jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        height: 53vw;
    }
    &__ctn{
        height: inherit;
        width: 100vw;
        background-color: $black;
        opacity: 50%;
        position: absolute;
        top: 6.4rem;
        z-index: 1;
        transition: opacity .4s ease-in-out;
        &:hover{
            opacity: 30%;
        }
    }
    &__head {
        @include header-2;
        width: 69%;
        color: $white;
        opacity: 1;
        z-index: 2;
        position: relative;
        padding: 0 $spaceXSmall;
        @include mobile-lg {
            @include secondHead;
            line-height: 2.7rem;
        }
        @include tablet {
            @include heroHead;
            padding: 0 $spaceSmall;
            width: 81%;
        }
        @include desktop-small{
            @include heroHead-d;
            padding: 0 $spaceLarger;
        }
        @include desktop-lg {
            @include heroHead-d;
            padding: 0 4.5rem;
            width: 65%; 
        }
    }
}


// Musician Section Styles
.musicians{
    &__wrap{
        padding: 0 $spaceXSmall;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 0 $spaceSmall;
        }
    }
    &__head{
        @include header-2;
        padding-left: $spaceXSmall;
        margin-top: $spaceMedium; 
        @include mobile-lg {
            font-size: $sHeader;
        }
        @include tablet {
            font-size: $header;
            margin-top: 4rem;
            padding-left: $spaceSmall;
        }
        @include desktop-small {
            padding: 0 $spaceLarger;
        }
        @include desktop-lg {
            padding-left: 4.5rem;
        }
    }
    &__img-ctn {
        @include desktop-small {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        @include desktop-lg {
            display: flex;
                flex-direction: row;
                justify-content: center;
        }
    }
    &__img {
        padding-top: $spaceMedium;
        width: 100%;
        height:69vw;
        padding-bottom: $spaceSmall;
        @include tablet {
            height: 58vw;
            padding-top: $spaceLarger;
            padding-bottom: $spaceLarge;
        }
        @include desktop-small {
            width: 80%;
            height: 49vw;
        }
        @include desktop-lg {
            width: 75%;
            height: 45vw;
        }
    }
    &__quote {
        font-size: 1.15rem;
        line-height: 1.9rem;
        font-family: "Roboto";
        font-weight: 500;
        text-align: left;
        padding-bottom: $spaceSmall;
        width: 93%;
        @include tablet {
            font-size: 1.7rem;
                line-height: 2.7rem;
                font-weight: 900;
                padding-bottom: $spaceSmall;
                width: 98%;
        }
        @include desktop-small {
            width: 90%;
            padding-left: 6rem;
        }
        @include desktop-lg {
            width: 90%;
            padding-left: 9.5rem;
        }
    }
    &__head-2{
        @include subHead-2;
        font-size: 1.05rem;
        font-weight: 800;
        padding-bottom: $spaceSmall;
        @include tablet {
            font-size: $sHeader;
            font-weight: 800;
        }
        @include desktop-small {
            font-size: 1.7rem;
            padding: 0 0 $spaceLarger 6rem;
            font-weight: 800;
        }
        @include desktop-lg {
            font-size: 1.7rem;
            padding: 0 0 $spaceLarger 9.5rem;
            font-weight: 800;
        }
    }
    .author{
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        margin-bottom: $spaceLarge;
        display: inline-block;
        @include tablet {
            margin-bottom: $spaceXLarge;
        }
        @include desktop-small {
            padding-left: 6rem;
            margin-bottom: $spaceLarger;
        }
        @include desktop-lg {
            padding-left: 9.5rem;
            margin-bottom: $spaceLarger;
        }
    }
    &__article-ctn{
        @include tablet {
            display: flex;
            flex-direction: row;
            margin-bottom: $spaceLarge;
        }
        @include desktop-small {
            width: 85%;
            padding: 0 0 0 6rem;
        }
        @include desktop-lg {
            width: 85%;
            padding: 0 0 0 9.5rem;
        }
    }
    &__article {
        @include textContent-2;
        line-height: 1.725rem;
        font-size: $paragraphSize;
        width: 96%;
        margin-right: 5.5rem;
        margin-bottom: $spaceMedium;
        @include tablet {
            margin-right:1.5rem;
        }
    }     
}

// Gallery Section Styles

.gallery {
    background-color: $alabaster;
    margin-bottom: $spaceLarge;
    &__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $spaceXSmall;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 $spaceSmall;
            justify-content: space-between;
        }
        @include desktop-small {
            padding: 0 $spaceLarge;
        }
        @include desktop-lg {
            padding: 0 4.5rem;
        }
    }
    &__head{
        @include header-2;
        padding: $spaceMedium 0 $spaceSmall $spaceXSmall;
        @include mobile-lg {
            font-size: $spaceMedium;
        }
            @include tablet {
                font-size: $header;
                padding: 4rem 0 4rem $spaceSmall;
            }
            @include desktop-small {
                padding: 4rem 0 4rem $spaceLarger;
            }
            @include desktop-lg {
                padding: 4rem 0 4rem 4.5rem; 
            }
    }
    &__img{
        width: 100%;
        min-width: 288px;
        height: 50vw;
        margin-bottom: $spaceXSmall;
            @include tablet {
                min-width: 224px;
                width: 31%;
                height: 16.5vw;
                margin-bottom:$spaceSmall
            }
            @include desktop-small {
                width: 32%;
                height: 17.5vw;
                margin-bottom: $spaceXSmall;
                opacity: .5;
                transition: all .3s ease-in-out;
                &:hover{
                    opacity: 1;
                }
            }
            @include desktop-lg {
                width: 32%;
                opacity: .5;
                transition: all .4s ease-in-out;
                &:hover{
                    opacity: 1;
                }
            }
    }
}

// Comments Styles

.comments {
    &__head {
        padding: 0 0 3.5rem 1rem;
        font-size: 1.65rem;
        font-weight: 900; 
        @include tablet {
            padding: 0 0 3.5rem 1.5rem; 
            font-size: 3rem;
        }
        @include desktop-lg {
            padding: 0 0 3.5rem 3rem;
        }
    }
    &__ctn {
        padding: 0 1rem 0 1rem;
        @include tablet {
            padding: 0 1rem 2rem 1rem;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $mercury;
        @include tablet {
            display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: flex-start;
          border-bottom: 1px solid #E1E1E1;
          width: 73vw;
        }
    }
    .form-info-ctn {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        @include tablet {
            width:95%;
        }
    }
    &__title {
        font-size: 1rem;
        color: $silver;
        text-transform: uppercase;
        padding-bottom: .5rem;
    }
    &__name {
        border: 1px solid $silver;
        background: $alabaster;
        border-radius: 5px;
        padding: 15px 10px;
        margin-bottom: 1.5rem;
        &:focus{
            border: 2px solid $black;
        }
    }
    &__title-2 {
        font-size: 1rem;
        color: silver;
        text-transform: uppercase;
        padding-bottom: .5rem;
    }
    &__field {
        border: 1px solid $silver;
        background: $alabaster;
        border-radius: 5px;
        padding: 30px 10px;
        margin-bottom: 1.5rem;
        color: $black;
        &:focus{
            border: 2px solid $black;
        }
        @include tablet {
            padding: 15px 0 60px 10px;
        }
        @include desktop-lg {
            padding: 15px 0 95px 10px;
        }
    }
    &__btn {
        padding: 20px 10px;
        border-radius: 5px;
        color: $white;
        background-color: $primaryCTA;
        margin-bottom: 2rem;
        text-transform: uppercase;
        min-width: 212px;
        display: flex;
        align-self: flex-end;
        justify-content: center;  
        @include tablet {
          width: 185px;
          margin-left: 17rem;
          text-transform: uppercase;
        }  
        @include desktop-lg {
            margin-left: 37rem;
            text-transform: uppercase;
        }
    }
    .gen-comment {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: 2rem 0 2rem 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid $mercury;
        @include tablet {
            justify-content: flex-end;
        }
        &__ctn {
            display: flex;
            flex-wrap: wrap;
            margin-left: 1rem;
            width: 100%;
        }
    }
    .users {
        &__name {
            font-weight: 800;
            font-size: .9rem;
            width: 70%;
            @include tablet {
                font-size: 1.2rem;
              width: 40%;
            }
            @include desktop-lg {
                width: 25%;
            }
        }
        &__time {
            font-size: .8rem;
            color: $silver;
            font-weight: 100;
            width: 26%;
            display: flex;
            justify-content: center;
            @include tablet {
                font-size: 1.1rem;
                width: 32%;
                justify-content: flex-start;
            }
        }
        &__comment {
            padding-top: 1rem;
            line-height: $mLabelLineHeight;
            width: 100%;
            @include tablet {
                line-height: 1.7rem;
                font-size: 1.2rem;
            }
        }
    }
    .user-image {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .form-ctn {
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .user {
        &__comments-ctn {
                @include tablet {
                    width: 73vw;
                    margin:0 auto;
                }
        }
    }
    .img-ctn {
        @include tablet {
            margin-right: 1rem;
        }
    }
}











