@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Roboto";
  overflow-x: hidden;
}

ol, ul, li {
  list-style: none;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  font-family: "Roboto";
}

/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Roboto";
  overflow-x: hidden;
}

ol, ul, li {
  list-style: none;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  font-family: "Roboto";
}

/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
/*Desktop & Tablet Text Variables */
/* Mobile Text Variables */
.main-nav {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 6.4375rem;
}

.main-nav__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem;
  width: 100%;
}

.main-nav .main-nav__logo {
  width: 9rem;
  padding-bottom: 1rem;
}

.main-nav__navbar {
  width: 100%;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-nav__link {
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #AFAFAF;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.main-nav__link:hover {
  color: #ffffff;
}

.main-nav__link--active {
  border-bottom: 6px solid #ffffff;
  color: #ffffff;
  padding-bottom: 13px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .main-nav .main-nav__ctn {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 1rem 1.5rem;
  }
  .main-nav .main-nav__logo {
    padding-bottom: 0;
    margin-right: 1.5rem;
  }
  .main-nav .main-nav__list {
    width: 40%;
  }
  .main-nav .main-nav__link {
    font-size: 1.1rem;
  }
  .main-nav .main-nav__link--active {
    padding-bottom: 35px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .main-nav .main-nav__ctn {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1200px) {
  .main-nav .main-nav__ctn {
    padding: 1rem 4.5rem;
  }
  .main-nav .main-nav__list {
    width: 32%;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/roboto/Roboto-Black.ttf") format("ttf");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto";
  color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Roboto";
  overflow-x: hidden;
}

ol, ul, li {
  list-style: none;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  font-family: "Roboto";
}

.footer {
  width: 100vw;
  background-color: #323232;
  color: #ffffff;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.footer__head {
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-weight: 900;
  color: #ffffff;
  font-size: 2rem;
  padding: 0 0 2rem 1rem;
}

@media (min-width: 425px) and (max-width: 767px) {
  .footer__head {
    font-size: 3rem;
  }
}

.footer__icons {
  color: #ffffff;
  height: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
}

.footer__logo {
  display: none;
}

.footer__icon {
  height: 30px;
  margin-right: 2.5rem;
}

.footer__wrap {
  padding: 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contact-head {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

@media (min-width: 425px) and (max-width: 767px) {
  .footer__contact-head {
    font-size: 1.15rem;
    font-weight: 500;
  }
}

.footer__contact-item {
  color: #AFAFAF;
  width: 65%;
  line-height: 1.5rem;
  padding: 1.5rem 0 1.5rem 0;
}

.footer__contact-link {
  padding-bottom: 2.5rem;
}

.footer__contact-email {
  color: #AFAFAF;
  font-size: 0.875rem;
}

.footer__copyright {
  color: #AFAFAF;
  width: 86%;
  line-height: 1.5rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .footer__head {
    display: inline-block;
    font-size: 2.5rem;
    padding: 0 0.5rem 2rem 1.5rem;
  }
  .footer__icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 62%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__icons-ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1rem;
  }
  .footer__icon {
    height: 25px;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 1rem 0 1.5rem;
  }
  .footer__contact-head {
    font-size: 1rem;
  }
  .footer__contact-item {
    width: 200px;
  }
  .footer__contact-list {
    width: 32%;
    margin-right: -15px;
  }
  .footer__copyright {
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .footer__head {
    padding: 0 1rem 2rem 2.5rem;
  }
  .footer__icons-ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1rem;
  }
  .footer__icons-ctn .icon {
    margin-right: 0;
  }
  .footer__logo {
    height: 1.3rem;
  }
  .footer__wrap {
    padding: 1.5rem 1rem 0 2.5rem;
    width: 90%;
  }
  .footer__contact-list {
    width: 31%;
  }
  .footer__contact-head {
    font-size: 1.2rem !important;
    font-weight: 500;
  }
  .footer__contact-item {
    width: 200px !important;
  }
  .footer__copyright {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1200px) {
  .footer__head {
    padding: 0 0 2rem 4.5rem;
  }
  .footer__icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 69%;
  }
  .footer__icons-ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3rem;
  }
  .footer__logo {
    height: 1.3rem;
  }
  .footer__wrap {
    padding: 1.5rem 1rem 0 4.5rem;
    width: 90%;
  }
  .footer__contact-head {
    font-size: 1.2rem;
  }
  .footer__contact-list {
    width: 31%;
  }
  .footer__contact-item {
    width: 200px;
  }
  .footer__copyright {
    padding: 0 4.5rem;
  }
}

.hero {
  width: 100vw;
  height: 147vw;
  background-image: url("../assets/images/sebastiaan-stam-RChZT-JlI9g-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 425px) and (max-width: 767px) {
  .hero {
    height: 118vw;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 88vw;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .hero {
    height: 66vw;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 56vw;
  }
}

.hero__ctn {
  padding: 1rem;
  font-size: 1rem;
  height: inherit;
  width: 100vw;
  background-color: #323232;
  opacity: 50%;
  position: absolute;
  top: 6.4rem;
  z-index: 1;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.hero__head-2 {
  color: #ffffff;
  font-weight: 600;
  opacity: 1;
  z-index: 2;
  position: relative;
  padding: 2rem 1rem 0 1rem;
}

@media (min-width: 768px) {
  .hero__head-2 {
    font-size: 1.5rem;
    padding: 4rem 1rem 0 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .hero__head-2 {
    padding: 9rem 0 0.8rem 3rem;
  }
}

@media (min-width: 1200px) {
  .hero__head-2 {
    padding: 9rem 0 0.8rem 3rem;
  }
}

.hero__head-main {
  font-size: 2.3rem;
  color: #ffffff;
  opacity: 1;
  z-index: 2;
  padding: 0.6rem 1rem 1rem 1rem;
  line-height: 3.5rem;
  font-weight: 900;
}

@media (min-width: 425px) and (max-width: 767px) {
  .hero__head-main {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .hero__head-main {
    font-size: 4.5rem;
    line-height: 5.5rem;
    font-weight: 900;
    padding: 1.5rem 1rem 0.8rem 1.5rem;
    width: 85%;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .hero__head-main {
    font-size: 3.6rem;
    padding-left: 3rem;
    width: 56%;
  }
}

@media (min-width: 1200px) {
  .hero__head-main {
    font-size: 3.6rem;
    padding-left: 3rem;
    width: 51%;
  }
}

.hero .player-ctn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media (min-width: 768px) {
  .hero .player-ctn {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .hero .player-ctn {
    position: relative;
    width: 39%;
    left: 58%;
    bottom: 30%;
  }
}

@media (min-width: 1200px) {
  .hero .player-ctn {
    position: relative;
    width: 42%;
    left: 55%;
    bottom: 30%;
  }
}

.hero__player {
  width: 91%;
  height: 7.5rem;
  z-index: 2;
}

@media (min-width: 425px) and (max-width: 767px) {
  .hero__player {
    height: 8.5rem;
  }
}

@media (min-width: 768px) {
  .hero__player {
    width: 65%;
    height: 10.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .hero__player {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero__player {
    width: 100%;
  }
}

.shows {
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .shows {
    padding: 2rem 1.5rem;
  }
}

@media (min-width: 1200px) {
  .shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 3rem;
  }
}

.shows__head {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 3rem;
}

@media (min-width: 1200px) {
  .shows__head {
    font-size: 2.5rem;
    margin-right: 3rem;
    padding-top: 1.5rem;
  }
}

.shows__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .shows__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 3rem;
    width: 85%;
  }
}

.shows__row {
  border-bottom: 1.5px solid #AFAFAF;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .shows__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .shows .date-ctn {
    margin-bottom: 1.5rem;
    width: 14%;
  }
}

.shows__date {
  font-weight: 400;
  color: #AFAFAF;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.shows__dates {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .shows__dates {
    font-size: .9rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .shows__dates {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .shows .venue-ctn {
    margin-bottom: 1.5rem;
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .shows .venue-ctn {
    width: 31%;
  }
}

.shows__venue {
  font-weight: 400;
  color: #AFAFAF;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.shows__venues {
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .shows__venues {
    font-size: .9rem;
  }
}

.shows__location {
  font-weight: 400;
  color: #AFAFAF;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .shows .location-ctn {
    margin-bottom: 1.5rem;
    width: 26%;
  }
}

@media (min-width: 1200px) {
  .shows .location-ctn {
    width: 27%;
  }
}

.shows__locations {
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .shows__locations {
    font-size: .9rem;
  }
}

.shows__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.2rem;
  background-color: black;
  color: white;
  padding: 21px 0;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .shows__btn {
    margin-top: 1.2rem;
    padding: 14px 0px;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .shows .s-1 {
    padding: 0 0 3rem 0;
  }
}

@media (min-width: 768px) {
  .shows .s-2 {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .shows__row:nth-of-type(1) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=shows.css.map */